includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#Parameter \#3 \$timezone \(DateTimeZone\) of method League\\Period\\Datepoint::createFromFormat\(\) should be contravariant with parameter \$timezone \(DateTimeZone\|null\) of method DateTimeImmutable::createFromFormat\(\)#'
          path: src/Datepoint.php
        - message: '#Argument of an invalid type DateInterval supplied for foreach, only iterables are supported.#'
          path: src/Duration.php
        - message: '#Strict comparison using === between false and DateInterval will always evaluate to false.#'
          path: src/Duration.php
        - message: '#^Variable property access on (.*)?.#'
          path: src/Duration.php
        - message: '#^Variable property access on DateInterval.#'
          path: src/DurationTest.php
        - message: '#Return type \(League\\Period\\Duration\|false\) of method League\\Period\\Duration::createFromDateString\(\) should be covariant with return type \(DateInterval\) of method DateInterval::createFromDateString\(\)#'
          path: src/Duration.php
        - message: '#Parameter \#1 ...\$intervals of class League\\Period\\Sequence constructor expects League\\Period\\Period, League\\Period\\Period\|null given.#'
          path: src/Period.php
        - message: '#Method League\\Period\\Datepoint::createFromFormat\(\) should return static\(League\\Period\\Datepoint\)\|false but returns League\\Period\\Datepoint.#'
          path: src/Datepoint.php
        - message: '#Method League\\Period\\Datepoint::createFromMutable\(\) should return static\(League\\Period\\Datepoint\) but returns League\\Period\\Datepoint.#'
          path: src/Datepoint.php
        - message: '#Instanceof between League\\Period\\Sequence and League\\Period\\Sequence will always evaluate to true.#'
          path: src/Chart/Dataset.php
        - message: '#Only numeric types are allowed in post-increment, string given.#'
          path: src/Chart/LatinLetter.php
        - message: '#Variable method call on League\\Period.#'
          path: src/DurationRelationTest.php
        - message: '#Generator expects value type string, string\|false given.#'
          path: src/Chart/ReverseLabel.php
    reportUnmatchedIgnoredErrors: true
