includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        -
            message: '#Loose comparison via "==" is not allowed#'
            path: src
        -
            message: '#League\\Period\\InitialDatePresence#'
            path: src
    bootstrapFiles:
        - vendor/autoload.php
