includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#^Strict comparison using === between null and DateTimeInterface will always evaluate to false.#'
          path: src/Period.php
        - message: '#^Variable property access on DateInterval.#'
          path: src/DurationTest.php
        - message: '#Only numeric types are allowed in post-increment, string given.#'
          path: src/Chart/LatinLetter.php
        - message: '#Variable method call on League\\Period.#'
          path: src/PeriodDurationTest.php
        - message: '#Generator expects value type string, string\|false given.#'
          path: src/Chart/ReverseLabel.php
        - message: '#^Parameter \#1 \$pairs of class League\\Period\\Chart\\Dataset constructor expects#'
          path: src/Chart/Dataset.php
        - message: '#^Parameter \#1 \$pairs of class League\\Period\\Chart\\Dataset constructor expects#'
          path: src/Chart/DatasetTest.php
    reportUnmatchedIgnoredErrors: true
