includes:
- vendor/phpstan/phpstan-phpunit/extension.neon
- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        - '#Method League\\Period\\Period::merge\(\) invoked with 0 parameters, at least 1 required.#'
    reportUnmatchedIgnoredErrors: true