includes:
- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Instanceof between DateTimeInterface and DateTimeInterface will always evaluate to true.#'
        - '#Method League\\Period\\Collection::offsetUnset\(\) has no return typehint specified.#'
        - '#Method League\\Period\\Collection::offsetUnset\(\) has parameter \$offset with no typehint specified.#'
        - '#Method League\\Period\\Collection::offsetSet\(\) has no return typehint specified.#'
        - '#Method League\\Period\\Collection::offsetSet\(\) has parameter \$offset with no typehint specified.#'
        - '#Method League\\Period\\Collection::offsetSet\(\) has parameter \$value with no typehint specified.#'
        - '#Method League\\Period\\Collection::offsetGet\(\) has no return typehint specified.#'
        - '#Method League\\Period\\Collection::offsetGet\(\) has parameter \$offset with no typehint specified.#'
        - '#Method League\\Period\\Collection::offsetExists\(\) has no return typehint specified.#'
        - '#Method League\\Period\\Collection::offsetExists\(\) has parameter \$offset with no typehint specified.#'
        - '#Method League\\Period\\Collection::count\(\) has no return typehint specified.#'
        - '#Method League\\Period\\Collection::getIterator\(\) has no return typehint specified.#'
        - '#Method League\\Period\\Period::filterInt\(\) has parameter \$value with no typehint specified.#'
        - '#Method League\\Period\\Period::startingOn\(\) has parameter \$datepoint with no typehint specified.#'
        - '#Method League\\Period\\Period::endingOn\(\) has parameter \$datepoint with no typehint specified.#'
    reportUnmatchedIgnoredErrors: true