includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#Strict comparison using !== between false and League\\Period\\Duration will always evaluate to true.#'
          path: tests/DurationTest.php
        - message: '#Variable method call on League\\Period\\Period.#'
          path: tests/PeriodTest.php
        - message: '#Variable method call on League\\Period\\Period.#'
          path: tests/Period/DurationRelationTest.php
    reportUnmatchedIgnoredErrors: true
