<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         cacheResult="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Period Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix="include.php">src</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="build/phpunit.junit.xml"/>
        <log type="coverage-xml" target="build/coverage-xml"/>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/clover.xml"/>
    </logging>

</phpunit>
